@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.PostViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

<div id="post">
    <h1>@Model.Title</h1>

    <div class="post-note">
		<h2 class="postedBy">Shannon Lewis</h2>
		<h2 class="postedOn">@Model.PostDate.ToString("dd MMM yyyy")</h2>
    </div>
    
    @Html.RenderSeries()
        
    @Html.Raw(Model.PostContent)

    @Html.RenderDisqusComments("slewis")
    
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51ca97356d8c1454"></script>

</div>