@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.PostViewModel>
@using System.Collections.Generic
@{
  Layout = "defaultWithCategories.cshtml";
}

<div id="blog-post" class="col-sm-8">
    <h1 class="blog-post-title">@Model.Title</h1>
    <p class="blog-post-meta">
        @Model.PostDate.ToString("dd MMM yyyy")
    </p>

    @Html.RenderSeries()

    @Html.Raw(Model.PostContent)

    @Html.RenderDisqusComments("slewis")

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51ca97356d8c1454"></script>

</div>