@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "defaultWithCategories.cshtml";
}
<div class="col-sm-8 blog-main">
    @foreach(var postPaged in Model.Drafts) {
        <div class="blog-post">
            <h2 class="blog-post-title"><a href="@postPaged.Url">@postPaged.Title</a></h2>
            <p class="blog-post-meta">
                @postPaged.Date.ToString("dd MMM yyyy") by <a href="#">Shannon</a>
            </p> 
            @Html.RenderSeries(postPaged)
            @Html.Raw(postPaged.ContentExcerpt)
            <p><a href="@postPaged.Url">Read more...</a></p>
        </div>
    }
</div>
