@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}
  <div class="col-sm-8 blog-main">
    @foreach(var postPaged in Model.PostsPaged) {
        <div class="blog-post">
            <h2 class="blog-post-title"><a href="@postPaged.Url">@postPaged.Title</a></h2>
            <p class="blog-post-meta">
                @postPaged.Date.ToString("dd MMM yyyy") by <a href="#">Shannon</a>
            </p> 
            @Html.RenderSeries(postPaged)
            @Html.Raw(postPaged.ContentExcerpt)
            <p><a href="@postPaged.Url">Read more...</a></p>
        </div>
    }
  </div> 

  <!-- Pagination links -->
  <div id="post-pagination" class="pagination">

   
     @if (Model.HasPreviousPage) {
      if (Model.PreviousPage == 1) {
      <p class="previous">
        <a href="/">Previous Page</a>
      </p>
      }
      else {
      <p class="previous">
        <a href="/page@(Model.PreviousPage)">Previous Page</a>
        </p>
      }
    }

    @if (!Model.HasPreviousPage) {
    
      <!--<a href="/">Previous Page</a>-->
    
    }

    @if (Model.HasNextPage) {
    <p class="previous">
      <a href="/page@(Model.NextPage)">Next Page</a>
    </p>
    }

  </div>

